<header id="header">
    <div class="menu">
        <div class="container clear-fix">
            <div class="top">
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">
                            Günün Fırsatları
                            <i class="fa fa-chevron-down icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Hediye Çeklerim
                            <i class="fa fa-chevron-down icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Hızlı Sipariş
                            <i class="fa fa-chevron-down icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Kampanyalar
                            <i class="fa fa-chevron-down icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Kurumsal Bilgiler
                            <i class="fa fa-chevron-down icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">
                            Yardım
                            <i class="fa fa-chevron-down icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom">
                <span class="content">Lütfen <a href="#">GİRİŞ YAPIN</a> veya <a href="#">YENİ HESAP</a> oluşturun.</span>
            </div>
        </div>
    </div>
    <div class="navbar">
        <form action="">
            <nav class="nav js-sticky">
                <div class="container">
                    <div class="inner">
                        <img src="images/cat.png" alt="cat logo" class="cat">
                        <div class="logo">
                            <a href="#">
                                <img src="images/logo_text.png" alt="logo text">
                            </a>
                        </div>
                        <div class="search">
                            <div class="input clear-fix">
                                <i class="fa fa-search"></i>
                                <input type="text" placeholder="Hızlı bul: Kitap/Yazar/Yayınevi" aria-label="Hızlı bul: Kitap/Yazar/Yayınevi">
                                <span class="search-line"></span>
                                <select name="select" aria-label="Tüm Kategoriler">
                                    <option selected disabled>Tüm Kategoriler</option>
                                    <option>Dergiler</option>
                                    <option>Roman</option>
                                </select>
                                <button class="submit">
                                    <img src="images/icons/search.svg" alt="search">
                                </button>
                            </div>
                        </div>
                        <div class="icon">
                            <a href="#"><img src="images/icons/card.svg" alt="card icon"></a>
                        </div>
                    </div>
                </div>
            </nav>

        </form>
        <div class="line"></div>
    </div>
</header>

